.DS_Store
*.swp
*.swo
config/database.yml
config/settings.yml
config/application.yml
config/*.log
config/*.lock
notes
doc
development.sql
development_structure.sql
schema.rb
*~
mockups
rerun.txt
nbproject
log/*
Gemfile.lock
.ruby-version
