<style>
  .options , #num , #Unknown { display:none; }

  .dateselector {
     position: fixed;
     top: 195px;
  }
</style>

<form id="dates" action="/people/show?id=<%=@selected%>" method="post"> 

  <%= date_select :start_date, nil %>

  <%= date_select :end_date, nil %>

</form>
