<html>
    <head>
    <title>Appointments</title>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'extra_buttons' %>
    <%= javascript_include_tag 'jquery_data_table.js' %>
    <%= stylesheet_link_tag 'jquery.dataTables' %>
    <%=javascript_include_tag "jquery.table2CSV.min" %>
    <script type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.min.js"></script>

<script>
      jQuery(document).ready(function($) {
          $('#table_id').dataTable({
            "bAutoWidth": true,
            "bPaginate": false,
            "bProcessing": true,
            "sScrollY": "430px",
            "bInfo": true,
            "bPaginate": false
          });
    search_box = $('#table_id').dataTable()
    search = document.getElementsByTagName("input")[0];
    search.setAttribute("id","search");
    document.getElementById('search').setAttribute("onclick","showKeyboard();");
    //document.getElementById("find").innerHTML = "<span>Back</span>";
   // document.getElementById("find").style.cssFloat = "left";
    //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    keyboard = document.getElementsByClassName("keypad")[0]
    function getCharButtonSetID(character,id){
      return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
    }
    function getButtonString(id,string){
      return "<button \
                            onMouseDown='press(this.id);' \
                            class='keyboardButton' \
                            id='"+id+"'>"+
        string +
        "</button>";
    }

    function getButtons(chars){
      var buttonLine = "";
      for(var i=0; i<chars.length; i++){
        character = chars.substring(i,i+1)
        buttonLine += getCharButtonSetID(character,character)
      }
      return buttonLine;
    }

    showAlphaKeypad();

    function showAlphaKeypad(){
      document.getElementById("keypad").style.height = "280";
      keyboard.innerHTML= getButtons("0123456789") + "</br>"
      keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>"
      keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>"
      keyboard.innerHTML+= getButtons("ZXCVBNM,.?")
      keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
      keyboard.innerHTML+= getButtonString('Space','<span>Space</span>')
      keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
    }

    function showNumericKeypad(){
      document.getElementById("keypad").style.height = "145";
      keyboard.innerHTML = getButtons("123")
      keyboard.innerHTML+= getButtons("456")
      keyboard.innerHTML+= getButtons("7890")
      keyboard.innerHTML+= getButtonString('space','<span>Space</span>')
      keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
      keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
      keyboard.innerHTML+= getButtonString('abc','<span>abc</span>')
      keyboard.innerHTML+= getButtonString('dash','<span>-</span>')
      keyboard.innerHTML+= getButtonString('slash','<span>/</span>')
    }

    data_table_length =document.getElementsByName('table_id_length')[0];
    data_table_length.setAttribute("style","font-size:20px;");

    table_length = document.getElementById("table_id_length");
    table_length.setAttribute("style","width:100px;");

  })
    </script>

    <script>

      function showKeyboard(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
          key.style.display = "inline";
          return
        }

        key.style.display = "none";
      }

      function press(pressedChar){
        switch (pressedChar) {
          case 'backspace':
            search.value = search.value.substring(0,search.value.length-1);
            search_box.fnFilter(search.value)
            return;
          case 'Space':
            search.value+= " "
            search_box.fnFilter(search.value)
            return
          case 'clear':
            search.value = ""
            search_box.fnFilter(search.value)
            return
          case 'num':
            showNumericKeypad();
            return
          case 'slash':
            search.value+= "/"
            search_box.fnFilter(search.value)
            return
          case 'dash':
            search.value+= "-"
            search_box.fnFilter(search.value)
            return
          case 'abc':
            showAlphaKeypad();
            return
        }
        search.value+= pressedChar
        search_box.fnFilter(search.value)
      }
      //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </script>

    <style>
#backspace{
        position:absolute;
        left:100px;
        bottom:2px;
      }

      #Space{
        position:absolute;
        left:220px;
        bottom:2px;
        width:200px;
      }

      #clear{
        position:absolute;
        left:470px;
        bottom:2px;
      }
       #num{
        position:absolute;
        left:470px;
        bottom:2px;
        width:200px;
      }
      #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 304px;
        padding: 5px;
        position: absolute;
        right: 13px;
        top: 194px;
        width: 672px;
      }
    </style>
    <style>
        div {
        -moz-user-select: none;
      }
      .basic_span {
        position:relative;
        width:50%;
        display:block;
        float:left;
      }

      .logo {
        float:left
      }

      #table_id {
        width: 100%;
      }

      #table_id_filter{
        position:absolute;
        top:10px;
        right:1%;
        margin-top:-40px;
        display: none;
      }

      #table_id_filter input{
        padding:0.5em;
      }


      .dataTables_length select {
        font-size: 25px;
      }
      .horizontal_line hr{
        position:absolute;
        bottom:104px;
      }
      #table_id_info{
        left: 10px;
        position: absolute;
        top: 491px;
        font-weight:bold;
        display:none;
      }
       #table_id_paginate{
        display:none;
      }
      #num{ display:none; }
      #char{ display:none; }

      div {
        -moz-user-select: none;
      }
      .basic_span {
        position:relative;
        width:50%;
        display:block;
        float:left;
      }

      .logo {
        float:left
      }

      #find{
       display: none;
      }

      .horizontal_line hr{
        position:absolute;
        bottom:104px;
      }
     
    #number {
      background-color: #4A708B;
      border-bottom: 1px outset black;
      border-style: outset;
      border-top: 1px outset black;
      color: white;
      display: block;
      padding: 10px 16px 10px 10px;
      text-align: center;
      text-decoration: none;
    }

    tbody td {
      padding-left: 10px;
    }
    </style>
  </head>




<body>
<table id="table_id">
  <thead>
    <tr>
      <th class='tb_art'>NPID</th>
      <th class='tb'>Name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Home District</th>
      <th>Home TA</th>
      <th>Home Village</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% (@results || []).each do |patient|%>
    <tr>
      <td><%= patient[:npid]%></td>
      <td><%= "#{patient[:given_name]} #{patient[:family_name]}"%></td>
      <td><%= patient[:gender]%></td>
      <td><%= patient[:birth_date]%></td>
      <td><%= patient[:home_district]%></td>
      <td><%= patient[:home_ta]%></td>
      <td><%= patient[:home_village]%></td>
      <td><a href="#" onmousedown='selectPatient("<%=patient[:doc_id]%>","<%=patient[:patient_id]%>")'>Select</a></td>
    </tr>
  <%end%>


  </tbody>

</html>


<script>
function selectPatient(doc_id, patient_id) {
  if (doc_id.length > 1) {
    document.location = "/dde/reassign_npid?doc_id=" + doc_id;
  }else if(parseInt(patient_id) > 0) {
    document.location = "/dde/reassign_npid?patient_id=" + patient_id;
  }else{
    alert(patient_id);
  }
}

</script>
