production:
 create.from.remote: false
 use.user.selected.activities: no 
 filing.number.prefix: FN101,FN102
 auto_set_appointment: false
 app.url: localhost
 statistics.show_encounter_types: RADIOLOGY EXAMINATION
 show.patient.confirmation: false
 current.health.facility: Kamuzu Central Hospital
 hod: Dr Chipa, Consultant Radiologist
 facility.address.l1: P.O. Box 149
 facility.address.l2: Lilongwe, Malawi
 facility.tel: +265 1 753 555/753 Ext. 2222
 facility.fax: +265 1 765 380
 logo: emblem.gif
 footer: Ministry of Health - Kamuzu Central Hospital - Department of Radiology<br/> Examinations Provided Conventional X-ray - Gastrointestinal and Urinary Tract Studies with Contrast - Mammography<br/> - Computertomography (Perfomed at Queen Elizabeth, Blantyre)<br/> General Ultrasound - Color Doppler Ultrasound - Echocardiography<br/> For Referral and Booking Please Call 0888 843 528 or 01 753 555 Ext. 222
 radiology.referral.locations: 1A/1B;2A/2B;3A;3B;4A;4B;OPD1;OPD2;Bottom/Bwaila;Dental;Eye;EMMW;ICU;Lighthouse;MAP;Peadiatric;Skin;UNC;Baylor;Other
 
development:
 create.from.remote: false
 use.user.selected.activities: no
 create.from.dde.server: false
 filing.number.prefix: FN101,FN102
 auto_set_appointment: false
 app.url: localhost:3000
 show.patient.confirmation: false
 statistics.show_encounter_types:  RADIOLOGY EXAMINATION
 current.health.facility: Kamuzu Central Hospital
 hod: Dr Chipa, Consultant Radiologist
 facility.address.l1: P.O. Box 149
 facility.address.l2: Lilongwe, Malawi
 facility.tel: +265 1 753 555/753 Ext. 2222
 facility.fax: +265 1 765 380
 footer: Ministry of Health - Kamuzu Central Hospital - Department of Radiology<br/> Examinations Provided Conventional X-ray - Gastrointestinal and Urinary Tract Studies with Contrast - Mammography<br/> - Computertomography (Perfomed at Queen Elizabeth, Blantyre)<br/> General Ultrasound - Color Doppler Ultrasound - Echocardiography<br/> For Referral and Booking Please Call 0888 843 528 or 01 753 555 Ext. 222
 radiology.referral.locations: 1A/1B;2A/2B;3A;3B;4A;4B;OPD1;OPD2;Bottom/Bwaila;Dental;Eye;EMMW;ICU;Lighthouse;MAP;Peadiatric;Skin;UNC;Baylor;Other
 logo: emblem.gif
test: &TEST
 create_from_remote: no
 use.user.selected.activities: no

cucumber:
  <<: *TEST
