<p><span class="bold">Liver</span>: Right lobe measures <span>....</span> cm, Left lobe measures<span>....</span>
  normal homogeneity noted. No focal lesions seen,no dilatation of the bile duct seen.</p>
<p><span class="bold">Gallbladder</span> appears fully distended, wall thickness measures<span>....</span>., no features of stones, sludge, polyps noted. No    pericholecystic fluid seen.</p><p><span class="bold">Portal vein</span> measures<span>.....</span>.</p><p><span class="bold">Common bile duct</span> measures<span>.....</span>.</p>
<p><span class="bold">Right kidney</span> measures<span>.....</span>, Left kidney measures<span>.....</span>. No calculi, no hydronephrosis, both move well with respiration.</p><p><span class="bold">Spleen</span> measures<span>.....</span>. normal homogeneity is visualized.</p>
<p><span class="bold">Pancreas</span> measurement: <span class="bold">Head</span><span>.....</span>. <span class="bold">Body</span><span>.....</span><span class="bold">Tail</span><span>.....</span>, normal homogeneity noted no calcifications, no stones, no cysts noted.</p><p><span class="bold">Inferior venacava</span> measures<span>.....</span> Aorta measures<span>.....</span>. appears. No periportal, paraaortic lymphadenopathy seen.No free fluid seen in the abdomen.</p>