<p>
   <table>
     <tr><th></th><th width ="20%" >Velocity</th><th>Plague</th></tr>
     <tr><th align="left">RCCA</th><td></td><th>Yes/No</th></tr>
     <tr><th align="left">RICA</th><td></td><th>Yes/No</th></tr>
     <tr><th align="left">RECA</th><td></td><th>Yes/No</th></tr>
     <tr><th align="left">LCCA</th><td></td><th>Yes/No</th></tr>
     <tr><th align="left">LICA</th><td></td><th>Yes/No</th></tr>
     <tr><th align="left">LECA</th><td></td><th>Yes/No</th></tr>
   </table>
</p>