<p>
 <table>
    <tr><td>Pericardium</td><td>&#58;</td></tr>
    <tr><td>Hepatorenal recess</td><td>&#58;</td></tr>
    <tr><td>Splenorenal space</td><td>&#58;</td></tr>
    <tr><td>Right paracolic gutters</td><td>&#58;</td></tr>
    <tr><td>Left paracolic gutters</td><td>&#58;</td></tr>
    <tr><td>Pelvis</td><td>&#58;</td></tr>
    <tr><td></td><td></td></tr>
    <tr><td></td><td></td></tr>
    <tr><td>Time of Examination</td><td>&#58;</td></tr>
 </table>
</p>