<p>Anteverted non gravid Uterus measuring<span>.....</span>.<br />
  Myometrial echo pattern appears homogenous.<br />
  Thin endometrial echo visualized and appears normal.<br />
  Right ovary measures<span>.....</span>. Left ovary measures<span>.....</span>.<br />
  No free fluid noted in the pouch of <span>..........</span>.</p>