<html>
  <head>
    <title>Patient Dashboard</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "<%= @date %>";
      //tt_cancel_destination = '/clinic';
      tt_cancel_show = '/clinic';
    </script>
    <style>
      #tab5 {
        background-color: white;
        border: 0 none;
        color: black;
        font-weight: bold;
      }
    </style>
  </head>
  <body><div id='content'>
      <div id='description' style='color:#777;position:absolute;margin-top:-70px;'></div><center>
        <form id = 'dashboard' action='/clinic'>
          <table cellpadding=10>
            <tr>
              <th colspan=2>Patient Dashboard</th>
            </tr>
            <h1 id='project_name'>
              <div style="color: #6281A7; font-size: 0.7em; padding-top: 20px;">Radiology</div>
            </h1>
            <span id='patient_name'><%= @patient_bean.name rescue "" %></span>
            <span id='patient_id'><%= @patient_bean.national_id_with_dashes rescue "" %></span>
            <span id='patient_residence'><%= @patient_bean.current_residence rescue "" %></span>
            <span id='patient_age'><%= @patient_bean.age rescue "" %></span>
            <span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>

            <div id="patient_card">
              <% if (@patient_bean.pre_art_number rescue nil) != nil && (@patient_bean.pre_art_number) != " " %>
                <span value="<%= @patient_bean.pre_art_number rescue "" %>">Exam Number</span>
              <% end
              session_date = session[:datetime].to_date rescue Date.today
              task = @task
              task_name = (task.encounter_type || 'NONE').upcase rescue 'NONE'
            %>
            </div>
            <% exam_number = session[:examination_number] || params[:examination_number] rescue nil %>
            <select id="tabs">
              <%  if exam_number.nil? %>
              <option value='/patients/visit_history?patient_id=<%= @patient.id  %>'>Current Visit</option>
              <%  else %>
              <option value='/patients/visit_history?patient_id=<%= @patient.id  %>&examination_number=<%= exam_number %>'>Current Visit</option>
              <%  end %>
              <option value='/patients/past_visits_summary?patient_id=<%= @patient.id %>'>Past Visits</option>
              <option value='/patients/personal/<%= @patient_bean.patient_id -%>'>Printouts/Other</option>
            </select>
            <select id="links">
              <%  if exam_number.nil? %>
                <option value='/investigation/new/<%=@patient_bean.patient_id%>'>Investigation</option>
                <option value='/patients/generate_booking?patient_id=<%= @patient.id -%>'>Appointment</option>
                <option value='/people/demographics?id=<%=@patient.id%>'>Edit Demographics</option>
                <!--option value='/patients/dashboard_print_national_id/<%=@patient_bean.patient_id%>'>Print Registration</option-->
              <%  else %>
                <option value='/film/size?examination_number=<%= exam_number %>'>Film Sizes</option>
                <option value='/patients/examination?examination_number=<%= exam_number %>'>Notes</option>
                <option value='/patients/print_investigation?patient_id=<%=@patient_bean.patient_id
                    %>&examination_number=<%= exam_number %>&encounter_date=<%= (params["encounter_date"] rescue "")
                    %>'>Print Investigation</option>
              <%  end %>
              
            </select>
             <select id="navigation_links">
                <option link='<%= ((session[:datetime].to_date rescue '') != '' ?
                            "/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
                  <%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
                </select>
             
            <tr>
              <td align='center'>
                <input type='submit' value='Finish' />
              </td>
            </tr>
          </table>
        </form>
      </center>
    </div>
  </body>
</html>
