<script>
  tt_cancel_show = '/people/search'
</script>
<div id = 'home'>

<div id="facility"><%=Location.current_health_center.name%></div>
      <div id="location"><%=Location.current_location.name%></div>
      <div id="date"><%=session[:datetime].to_date rescue Date.today%></div>
      <div id="user"><%=User.current_user.username%></div>
      <select id="tabs">
        <option value="/clinic/overview">Overview</option>
        <option value="/clinic/reports">Reports</option>
        <option value="/clinic/administration">Admin</option>
      </select>     

      <select id="links">
        <option value="/user/logout">Logout</option>
        <option value="/people/search" ttSize="190px">Find by Name</option>
        <option value="/people/search_by_identifier" ttSize="210px">Find by Identifier</option>
        <option value="/people/find_by_exam_number" ttSize="220px">Find by Exam num</option>
      </select>
</div>
